<% orders.forEach(function (order) {%>
<div class="card" id="<%= order._id %>">
    <div class="card-header pending">
        <div class="display-inline-block width50">
            <h4 class="card-title">Pickup: <%= moment(new Date(order.pickup_time)).fromNow() %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= moment(new Date(order.pickup_time)).format("dddd, MMMM Do YYYY, h:mm:ss a"); %></h6>
        </div>
        <div class="float-right">
            <a href="#" data-order="<%= order._id %>" class="btn btn-danger card-link"  onclick="window.deleteOrder(this);  return false;">Delete</a>
            <a href="#" data-order="<%= order._id %>" class="btn btn-success card-link" onclick="window.confirmOrder(this); return false;">Complete</a>
        </div>
    </div>
    <div class="card-block">
        <h5>-- Order Contents --</h5>
        <ul class="list-group list-group-flush">
            <% order.items.forEach(function (item) {%>
            <li class="list-group-item">
                <div class="flex-center">
                    <span class="min-item-width text-left">Item: <%= item.item_name %></span>
                    <span class="min-item-width text-center">Start: <%= moment(new Date(item.item_start)).fromNow() %></span>
                    <span class="min-item-width text-right">Cook Time: <%= item.item_time %> minutes</span>
                </div>
            </li>
            <% })%>
        </ul>
    </div>
</div>
<% })%>