<% orders.forEach(function (order) {%>
<div class="card" id="<%= order._id %>">
    <div class="card-header success">
        <h4 class="card-title">Fulfilled</h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= moment(new Date(parseInt(order.fulfilled_at))).format("dddd, MMMM Do YYYY, h:mm:ss a"); %></h6>
    </div>
    <div class="card-block">
        <h5>-- Order Contents --</h5>
        <ul class="list-group list-group-flush">
            <% order.items.forEach(function (item) {%>
            <li class="list-group-item">
                <div><%= item %></div>
            </li>
            <% })%>
        </ul>
    </div>
</div>
<% })%>