body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100vh;
    margin-top: 100px;
}
 h5 {
     padding: 10px 0 5px 0;
     font-size: 1.35rem;
 }
 .navbar {
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 2;
 }

 .blue-nav {
     background: #4797e5 !important;
     box-shadow: 0 0 50px 0 #4797e5;
 }
 
.content_section {
    margin: 50px;
}

.card {
    max-width: 750px;
    margin: 20px auto;
}

.card-header.success {
    background: #abd5a8;
    border: 1px solid #9bc598;
    margin: -1px;
    color: white !important;
}

.card-header.pending {
    background: #5bc0de;
    border: 1px solid #5bc0de;
    margin: -1px;
    color: white !important;
}

.card-block {
    padding: .25rem 1.25rem;
    background: #ebf7ff;
}

.card-footer {
    background-color: #e2f8ff;
    margin: -1px;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.min-item-width {
    min-width: 33%;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.list-group {
    padding-left: 10px;
}

.list-group-item {
    padding: 0.45rem;
    background: #ebf7ff;
}

.grad_background {
    background: linear-gradient(to bottom right, rgba(0, 128, 255, 0.71), rgba(255, 255, 0, 0.64));
}

.display-inline-block {
    display: inline-block;
}

.width50 {
    width: 50%;
}

.float-right {
    float: right;
}